*.html
*.xlsx
*.csv

config/

data/raw/*.xlsx
data/processed/*.xlsx
data/*.xlsx
data/*.csv
data/*.py

modules/Scrape.ipynb
modules/get_links.ipynb

notebooks/new_rings_collab.ipynb

__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

venv/
